<html>
    <head>
        <title> {% block head_title %}Blog{% endblock head_title %}</title>
    </head>
    <body>
        {% include 'messages_display.html' %}
        <div class="container">
            {% block content %}
                <h1>Template radi!</h1>
                {% for obj in object_list %}
                    <a href="{{ obj.get_absolute_url }}"> {{  obj.title  }}</a><br>
                    {{ obj.id }}<br>
                    {{ obj.content }}<br>
                    {{ obj.updated }}<br>
                    {{ obj.timestamp }}<br>
        
                {% endfor %}
            {% endblock content %}

        </div>
        
    </body>
</html>